extends layout

block content
  h1= title

  div
    if clothing_list.length
      ul
        each clothing in clothing_list
          li
            a(href=clothing.url) #{clothing.name} #{clothing.price} Galleons

    else
      p There is no clothing.